
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6e6e6;
}

svg {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #b99a9a;
    box-shadow: 0 0 20px rgba(153, 70, 70, 0.5);
}

line, circle {
    stroke: #091d3d;
}

#seconds {
    stroke: #220f3a;
}

circle {
    fill: #3275e0;
}
